.feynman {
  min-height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
  position: relative;
  background: url(../../images/feynman.png) bottom left/867px 637px no-repeat;
  background-color: #f2f2f2;
}
